doctype html
head
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
  link(type='text/css', rel='stylesheet', href='css/materialize.min.css',  media='screen,projection')
  link(type='text/css', rel='stylesheet', href='css/prof.min.css',  media='screen,projection')
  link(type='text/css', rel='stylesheet', href='css/custom.css',  media='screen,projection')
  meta(name='viewport' ,content='width=device-width, initial-scale=1.0')
body

- var varia = 1 ;   
- var counter = 1 ; 
- var bichito  ;
- var coleccion = latenola ;


 
//-console.log(pokedex) ; console.log(JSON.stringify(pokedex)) ;

  
.container.col.xl3
  button.button( onclick='something()') Save  

div.container.col.xl3
  ul.collection
    while counter < 7
      -bichito=pokedex.pokemon(counter)
      li.collection-item.avatar
        if (typeof bichito.sprites === 'undefined')
          img.material-icons.circle.green 
        else
          if (typeof bichito.sprites.animated === 'undefined')
            img.circle(src=bichito.sprites.normal, alt="")
          else
            img.circle(src=bichito.sprites.animated, alt="")
        
          
        -counter = counter + 1
        - var inder = counter-2 ; 
        - var trade = coleccion[inder];
        span.title= bichito.id
        p= bichito.name
        div.secondary-content
          a(id="trader"  href="#!") 
            if( trade == 0)
              i.material-icons(style={color: 'green'}) check
            else
              i.material-icons(style={color: 'red'}) check
          
            
          span    
          a(href="#!" )      
            if( trade == 0)
              i.material-icons(style={color: 'green'}) shopping_cart
            else
              i.material-icons(style={color: 'red'}) shopping_cart
          a(href="#!")
            if(trade == 0)
              i.material-icons(style={color: 'green'}) highlight
            else
              i.material-icons(style={color: 'orange'}) highlight
          a(href="#!")
            if( trade == false)
              i.material-icons(style={color: 'green'}) add_shopping_cart
            else
              i.material-icons(style={color: 'red'}) add_shopping_cart















script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
script(type='text/javascript' ,src='js/materialize.min.js')
script(type='text/javascript' , src='js/nav.js')
script.async(type='text/javascript', src='https://platform.twitter.com/widgets.js')
script(type='text/javascript' , src='js/sortable.js')
script.
 - var something = function(cole) {
  var filete
  let coun = 0
  while coun < 7{
    for (i = 0; i < 5; i++) {
        
        if{
            cole[coun][i] =       }
          }
      }
      

     
      
  }
script(type='text/javascript',src='js/pokearray.js')

    